body{
    background: #ccff99;
}
.userdashboard{
    text-align: center;
    font-size: 26px;
    margin-top: 3%;
    margin-left: 16%;

}

.userSignout{
    float: right;
    margin-right: 13%;
}
.TimeSheet{
    padding: 2%;
    padding-right: 40%;
    float: left;
}
.login{
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
}

.today{
    font-size: 20px;
}

.monthly{

    font-size: 20px;
}

.usercontainer{
    width: 2000px;
    margin-left: 5%;
    margin-top: 5%;
}

.timeSheet{
    width: 700px;
    float: left;
}
.addSheet{
    width: 1200px;
    float: right;
}