
.Admindashboard{
    margin-top: 2%;
    text-align: center;
    font-size: 26px;
}

.workingHours{
    padding: 5%;
}
.history{
    float: right;
    margin-right: 2%;
}
.signout{
    float: right;
    margin-right: 5%;
}

.History {
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.History-Title{
    color: black;
    font-size: 35px;
}

.form-group{
    padding: 5px;
}
.date{
    padding: 5px;
    display: inline-block;
}

.select{
    width: 184px;
    height: 38px;
}

.dashboard{
    float: right;
    margin-top: -90px;
    margin-right: 39PX;
    width: 96px;
    height: 35px;
    font-size: 14px;
}
.submit{
    margin: 6px;
    margin-top: 27px;
}
.usermanagement-title{
    margin-top: 2%;
    text-align: center;
    font-size: 26px;
}

.register{
    width: 75%;
}

.container{
    width: 2000px;
    margin-left: 5%;
    margin-top: 5%;
}

.removeUser{
    width: 300px;
    float: right;
}
.registerPage{
    width: 700px;
    float: left;
}

div.list {
    width: 300px;
    height: 450px;
    overflow: auto;
}
.listUsername{
    padding: 7%;
}

.listRemove{
    padding: 7%;
    margin-left: 90%;
}

.userToDashBoard{
    float: right;
    margin-right: 1%;
}